@charset "ISO-8859-1";

.banner {
	color: white;
	background-color: #0bb3ff;
}

.banner-head {
	font-family: verdana;
	font-size: 30px;
	font-weight: bold;
	font-size: 30px;
}

image {
	height: 60px;
}

listitem {
	text-align: center;
}

.slideshow-container {
	position: relative;
	float: center;
	margin: 50px;
	width: 80%;
	height: 80%;
	overflow: hidden;
}

.slideshow-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.slideshow-image.active {
	opacity: 1;
}

.container {
	margin-top: 30px;
	margin-left:15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
/* 	justify-content: space-between; */
	gap:5px;
	
}

.box {
	height: 250px;
	width: 28%;
	display: flex;
	flex-direction: column;
	text-align: center;
	border:2px solid #0bb3ff;
	border-radius:10px;
	margin:20px;
	padding:10px;
	transition: transform 0.3s ease;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.box:hover {
    transform: scale(1.05);
  }

.main-head{
	font-size:30px;
	color:#00e1ff;
	font-weight:bold;	
}
.sub-head{
	font-size:20px;
}
.sub-head2{
	font-size:15px;
}

.but1{
	margin-top:10px;
	width:100px;
	height:30px;
	font-size:18px;
	color:rgb(255, 0, 0);
}
.but{
	margin-top:10px;
	width:100px;
	height:30px;
	font-size:18px;
	color:#161a8a;
}
.line{
	width:90%;
	height:2px;
	margin:8px;

	background-color:#c0c0c0;
}